body {
  padding-top: 70px;
}

@media (min-width: 1200px) {
    .container{
        max-width: 800px;
    }
}

h5.panel-title {
  line-height: 30px;
}

table tr .table-actions {
  visibility: hidden;
}

table tr:hover .table-actions {
  visibility: visible;
}

.well.empty {
  margin-bottom: 0;
}

.well.empty * {
  text-align: center;
}
